/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}
/**! 02. Typography **/

@font-face {
  font-family: 'FSAlbertWeb';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/FSAlbertWeb-Regular.woff2') format('woff2');
}

@font-face {
font-family: 'FSAlbertWeb';
font-weight: 900;
font-style: normal;
src: url('../fonts/FSAlbertWeb-Bold.woff2') format('woff2');
}

@font-face {
font-family: 'FSAlbertWeb';
font-weight: 400;
 font-style: normal;
src: url('../fonts/FSAlbertWeb-Light.woff2') format('woff2');
}

@font-face {
font-family: 'FSAlbertWeb';
font-weight: 200;
 font-style: normal;
src: url('../fonts/FSAlbertWeb-Thin.woff2') format('woff2');
}

@font-face {
font-family: 'FSAlbertWeb';
font-weight: normal;
 font-style: italic;
src: url('../fonts/FSAlbertWeb-Italic.woff2') format('woff2');
}
ul:marker {
  color: #37A9E0;
}
ul.lead:marker{
  color: #37A9E0;
}
li:marker{
  color: #37A9E0;
}
h1, .h1 {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  color: $blue;
  font-weight: 900;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}
h2, .h2 {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  color: $blue;
  font-weight: 900;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0.78787878787879em;
}
h3, .h3 {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  color: #252525;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  color: #000;
  font-weight: 900;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}
h5, .h5 {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  color: $blue;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}
h6, .h6 {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}
h1, .h1 {
  font-size: 60px;
  line-height: 1.3em;
  font-weight: 900;
  letter-spacing: -0.01em;
}
h2, .h2 {
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 900;
}
h3, .h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
}
h4, .h4 {
  font-size: 16px;
  line-height: 1.36842105em;
  font-weight: 900;
  color: #000
}
h5, .h5 {
  font-size: 16px;
  line-height: 1.3em;
  color: $blue;
}
h6, .h6 {
  font-size: 0.85714286em;
  line-height: 1.3em;
  color: $blue;
}
html {
  font-size: 87.5%;
}
@media all and (max-width: 991px) {
  html {
    font-size: 81.25%;
  }
}
img {
  max-width: 100%;
  height: auto;
}
/* GENERAL STYLES
-------------------------------------------------*/
a {
  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}
.node--view-mode-teaser.node--sticky {
  background: none;
  border: none;
  padding: 0;
}
.fixed-top {
  background: $blue;
  z-index: 101 !important;
  height: 80px;
}
.user-logged-in {
  .fixed-top {
    top: 79px;
  }
}
body {
  font-size: 16px;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  color: #000;
  font-weight: 600;
}
#page-wrapper {
  padding-top: 80px;
  #navbar-top {
    display: none;
  }
}
.user-logged-in {
  #page-wrapper {
    padding-top: 110px;
  }
}
header {
  background: $blue;
  background-size: cover;
  .block {
    padding: 0 !important;
  }
  .navbar {
    @media screen and (min-width:991px) {
      padding: 0.92857143em 0;
      height: 110px;
    }
  }
  nav {
    padding-top: 15px;
    padding-bottom: 15px;
    a {
      color: #fff;
      img {
        width: 83px;
        @media screen and (min-width:991px) {
          width: 120px;
        }
      }
      &:hover {
        color: #fff;
        opacity: 1;
      }
    }
    &.navigation, &.block-menu {
      a, span {
        color: #fff;
        font-size: 1rem;
        line-height: 4rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: .5px;
        opacity: 1;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        &:hover, &.is-active {
          color: #fff;
          opacity: .7;
        }
        &.active {
          text-decoration: underline;
        }
      }
      .menu-icon {
        display: flex;
        align-items: center;
        opacity: 1;
        padding: 0 1rem;
        cursor: pointer;
        span {
          display: none;
        }
        &:before {
          content: " ";
          display: block;
          background: url(../images/icon-search-header.svg) no-repeat;
          width: 18px;
          height: 18px;
          background-size: 100%;
        }
        &:hover {
          opacity: .7;
        }
      }
    }
  }
  .mobile-search {
    background: url(../images/icon-mobile-search.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 18px;
    position: absolute;
    right: 22%;
    display: none;
    cursor: pointer;
    @media screen and (max-width:991px) {
      display: block;
    }
  }
  .navbar-toggler {
    background: url(../images/icon-menu.svg) center center no-repeat;
    outline: none !important;
  }
  @media screen and (max-width:991px) {
    .navbar-collapse {
      position: absolute;
      top: 80px;
      width: 100%;
      left: 0;
      background: $blue;
    }
  }
}
.block-search {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background: white;
  height: 88%;
  overflow-y: scroll;
  padding-bottom: 3% !important;
  z-index: 100;
  @media screen and (min-width:991px) {
    top: 110px;
    height: 86%;
  }
  .search-close-btn {
    font-size: 2em;
    position: absolute;
    top: 4%;
    right: 1%;
    cursor: pointer;
  }
  .content {
    padding-top: 8em;
    > div {
      width: 100%;
    }
  }
  .view-filters {
    .form-row {
      flex-direction: column;
      fieldset {
        box-shadow: none;
        label {
          display: block;
        }
        .form-text {
          border: none;
          border-bottom: 2px solid $blue;
          text-align: center;
          font-size: 2em;
          font-weight: 900;
          color: $blue;
          &::placeholder {
            color: $blue;
          }
        }
        .form-radios {
          display: flex;
          align-items: center;
          justify-content: center;
          .radio {
            display: flex;
            align-items: center;
            margin: 0 1em;
            box-shadow: none;
            input {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  .view-content {
    padding-top: 3em;
    padding-bottom: 3em;
    .views-row {
      margin: 1em 0;
    }
  }
  .js-pager__items {
    li {
      background: none;
      padding: 0;
      font-size: .75em;
    }
  }
}
.user-logged-in {
  .block-search {
    top: 13%;
    height: 87%;
  }
}
.float-block {
  display: none;
  overflow: hidden;
  @media screen and (min-width: 991px) {
    display: block;
  }
  #block-floatscroll {
    padding: 0;
  }
}
.scrollable-elements {
  position:fixed;
  top:40%;
  right:2vw;
  width:48px;
  z-index:100;
  .scrollable-small {
    position: relative;
    top: 0;
  }
  a {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
  img {
    margin: 1em 0;
    box-shadow: 0 1px 5px #46464657;
    border-radius: 50%;
  }
  .scrollable-contact {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 48px;
  }
  .btn-item {
    position: relative;
    .social-wrapper {
      display: none;
    }
    .socialbar {
      display: flex;
      position: absolute;
      top: .5em;
      right: -1em;
      flex-direction: row-reverse;
      align-items: center;
      background: $blue;
      padding: 0 1em 0 2em;
      border-radius: 12px;
      a {
        font-size: 2em;
        margin-right: .5em;
        color: #fff;
        &:first-child {
          margin-right: 0;
        }
        img {
          width: 48px;
          height: 48px;
          margin: .25em 0;
        }
      }
    }
  }
}
.featured-top {
  .featured-top__inner {
    padding: 0;
    position: relative;
    .block-float-content {
      position: absolute;
      right: 2vw;
      bottom: 0;
      z-index: 99;
      .content {
        a {
          cursor: pointer;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
  .block-header-image {
    overflow: hidden;
    padding: 0;
    .view-content {
      background: #252525;
      position: relative;
      overflow: hidden;
      padding: 0;
      min-height: 282px;
      max-height: 282px;
      @media screen and (min-width:991px) {
        min-height: 600px;
        max-height: 600px;
      }
      .views-row {
        width: 100%;
        .views-field-field-bg-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 0;
          #header-img, .header-img {
            width: 100%;
            height: 282px;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            @media screen and (min-width:991px) {
              height: 600px;
            }
          }
          img {
            margin: 0;
            width: 100%;
            height: auto;
          }
        }
        .views-field-field-caption {
          position: relative;
          width: 100%;
          z-index: 1;
          height: 282px;
          display: flex;
          align-items: center;
          @media screen and (min-width:991px) {
            height: 600px;
          }
          h1 {
            font-size: 1.5em;
            padding: 0 0.625em;
            color: white;
            @media screen and (min-width:991px) {
              font-size: 3.75em;
              padding: 0;
            }
          }
          p {
            color: white;
            font-size: 1em !important;
            padding: 0 0.938em;
            @media screen and (min-width:991px) {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
.page-node-14 {
  .featured-top {
    .featured-top__inner {
      position: relative;
      background: #faf9ff;
      @media screen and (min-width:991px) {
        display: flex;
        align-items: center;
      }
      .block-map {
        @media screen and (min-width:991px) {
          flex: 0 66%;
        }
        .content {
          iframe {
            width: 100%;
          }
        }
      }
      .block-mapinfo {
        .content {
          padding: 2em 0.938em;
          text-align: center;
          @media screen and (min-width:991px) {
            padding: 0 2em;
            text-align: left;
          }
        }
      }
    }
  }
}

.block-language {
  nav {
    padding: 0;
    span {
      position: relative;
      &:first-child {
        &:after {
          content: " ";
          display: block;
          position: absolute;
          top: 50%;
          right: -1px;
          width: 2px;
          height: 14px;
          margin-top: -7px;
          background: rgba(255, 255, 255, .5);
        }
      }
    }
  }
  a {
    font-size: 1rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5px;
    opacity: .7;
    &:hover, &.is-active {
      color: #fff;
      opacity: 1;
    }
  }
}
.btn {
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 6px;
  padding-top: 0.46428571em;
  padding-bottom: 0.46428571em;
  padding-right: 2.78571429em;
  padding-left: 2.78571429em;
  border: 1px solid #252525;
  border-width: 1px;
  font-size: inherit;
  line-height: 2.25714286em;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 700;
  height: 46px;
  &.btn-primary, &.btn-primary:visited {
    background: $buttoncolor;
    border-color: $buttoncolor;
  }
}
.more-link a {
  color: white;
  font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 6px;
  padding-top: 0.46428571em;
  padding-bottom: 0.46428571em;
  padding-right: 2.78571429em;
  padding-left: 2.78571429em;
  border: 1px solid #252525;
  border-width: 1px;
  font-size: inherit;
  line-height: 1.85714286em;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 700;
  background: $buttoncolor;
  border-color: $buttoncolor;
  height: 46px;
  display: inline-block;
}
/* COLORS
--------------------------------------------------*/
a {
    color: $accent-shade;
}

.bg-inverse {
    background: $primary-shade !important;
}

.site-footer {
    background: $accent-shade !important;
}

.menu--main li a {
    color: $primary-shade;
}

.menu--account li a {
    color: $primary-shade;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}

.slick {
  width: 100%;
}

.slick>div {
  margin: 0 15px;
}

.fiu-add-element {
  label {
    position: relative;
    background: lightgrey;
  }
}
.form-wrapper__login-option input:not([type="submit"]):not([type="password"]),
.form-wrapper__returning-customer input[type="password"] {
  width: auto;
}
.main-content {
  padding: 0;
}
.fullwidth {
  width: 100%;
}
.background {
  background: #F5F5FB;
}
.mobile-background {
  background: #F5F5FB;
  padding-top: 3.05em;
  padding-bottom: 3.05em;
  @media screen and (min-width:991px) {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.background-blue {
  background: $blue;
  .paragraph--type--header-text-content- .field--name-field-header-text {
    color: white;
    &::before {
      border-bottom: 4px solid white;
    }
  }
  .field--name-field-content {
    color: white;
  }
}
.topbottompadding {
  padding-top: 3em;
  padding-bottom: 3em;
}
.toppadding {
  padding-top: 3em;
}
.bottompadding {
  padding-bottom: 3em;
}
.column-no-pad {
  .field--name-field-column .field__item {
    border: none !important;
    h1, h2, h3, h4, h5, h6 {
      padding: 0 20px 30px;
    }
    p {
      padding: 0 20px !important;
    }
  }
}
#main-wrapper {
  .block-page-title-block {
    h1 {
      text-align: center;
    }
  }
  .block {
    ul {
      color: #000;
      font-family: 'FSAlbertWeb', 'Helvetica', 'Arial', sans-serif;
      font-size: 1.35714286em;
      line-height: 1.68421053em;
      font-weight: 600;
      li {
        background: url(../images/BulletBL.png) no-repeat 0 32%;
        list-style: none;
        list-style-image: none;
        padding-left: 18px;
        padding-top: 0;
        padding-bottom: 9px;
      }
    }
  }
}
.block {
  > h2 {
    color: black;
    &::before {
      content: " ";
      position: relative;
      display: block;
      width: 70px;
      height: 4px;
      border-bottom: 4px solid $blue;
    }
  }
  h2, h3 {
    font-size: 1.5em;
    padding: 0 0.625em;
    color: #000;
    @media screen and (min-width:991px) {
      font-size: 2.875em;
      // padding: 0 0.35em;
    }
  }
  .view-filters {
    fieldset {
      padding: 0;
      label {
        display: none;
      }
      .form-text {
        margin: 0;
      }
    }
    .form-row {
      @media screen and (min-width:991px) {
        margin: 0;
        fieldset {
          margin-right: 0.75em;
          margin-bottom: 0;
          &:nth-child(4) {
            margin-right: 0;
          }
        }
      }
    }
    .js-form-item {
      box-shadow: 0 3px 5px #F5F5F5;
    }
    .form-item-month {
      flex: 0 0 10%;
    }
    .form-item-year {
      flex: 0 0 8%;
    }
    .form-item-field-research-category-target-id,
    .form-item-researchcentre {
      flex: 0 0 23.7%;
    }
    .form-item-keyword {
      flex: 0 0 58%;
      padding-right: 0;
    }
  }
  .view-content {
    padding: 0 15px;
    .row {
      div[class^=col-] {
        margin: 1.25em 0;
      }
    }
    .views-field-field-image,
    .views-field-field-events-image,
    .field--name-field-media-image {
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid #eee;
        margin: 0;
        @media screen and (min-width:991px) {
          margin: 0;
        }
      }
    }
    .views-field-field-research-category {
      font-size: 1em;
      line-height: 1.3em;
      color: $blue;
      margin-top: 0.625em;
      margin-bottom: 0.3em;
    }
    .views-field-title {
      font-size: 1.5em;
      margin-bottom: .5em;
      line-height: 1.36842105em;
      font-weight: 900;
      margin-bottom: 0.3em;
      a {
        color: black;
      }
    }
    .views-field-view-node {
      a {
        font-size: 1em;
        font-weight: 600;
        line-height: 1.3em;
        color: $blue;
      }
    }
  }
  .more-link {
    text-align: center;
    a {
      height: 50px;
      font-size: 1em;
      font-weight: normal;
      line-height: 2.25em;
      padding: 0 2em;
      align-items: center;
      max-width: 140px;
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }
  }
}
.block-sticky-publications,
.block-publications {
  .content {
    .view-content {
      .views-row {
        .views-field-nothing {
          .content {
            color: #6F7375;
          }
          .share {
            .sharethis-wrapper {
              span {
                display: block;
                width: 60px;
                height: 60px;
                cursor: pointer;
                background: url(../images/share.svg) no-repeat;
              }
            }
          }
        }
        &.category-9 {
          .views-field-nothing {
            border-top: 4px solid #492d9f;
            .category {
              .icon {
                color: #492d9f;
              }
            }
          }
        }
        &.category-10 {
          .views-field-nothing {
            border-top: 4px solid #29abe2;
            .category {
              .icon {
                color: #29abe2;
              }
            }
          }
        }
        &.category-11 {
          .views-field-nothing {
            border-top: 4px solid #2d839f;
            .category {
              .icon {
                color: #2d839f;
              }
            }
          }
        }
        &.category-12 {
          .views-field-nothing {
            border-top: 4px solid #f7931d;
            .category {
              .icon {
                color: #f7931d;
              }
            }
          }
        }
        &.category-14 {
          .views-field-nothing {
            border-top: 4px solid #1b1464;
            .category {
              .icon {
                color: #1b1464;
              }
            }
          }
        }
      }
    }
  }
}
.block-sticky-publications {
  @media screen and (min-width:991px) {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .view-filters {
    .form-item-month {
      flex: 0 0 10%;
    }
    .form-item-year {
      flex: 0 0 8%;
    }
    .form-item-pubtype {
      flex: 0 0 25%;
    }
    .form-item-keyword {
      flex: 0 0 48.7%;
    }
    .form-actions {
      display: none;
    }
  }
  .view-content {
    .views-infinite-scroll-content-wrapper {
      @media screen and (min-width:991px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    div[class^=category-] {
      @media screen and (max-width:991px) {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1.813em;
      }
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  .js-pager__items {
    @media screen and (min-width:991px) {
      display: none;
    }
  }
  .views-field-nothing {
    padding: 1.688em;
    background: white;
    border: 1px solid #ececec;
    border-radius: 6px;
    box-shadow: 0 1px 5px #ccc;
    @media screen and (min-width:991px) {
      min-height: 340px;
    }
    .category {
      font-size: .8em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (min-width:991px) {
        font-size: 1em;
      }
      .icon {
        text-transform: uppercase;
        letter-spacing: -0.06em;
        margin-right: .5em;
        img {
          margin-right: 1em;
          @media screen and (max-width:991px) {
            width: 25px;
            height: auto;
            margin-right: .5em;
          }
        }
      }
      .pub-date {
        color: #6F7375;
      }
      .research-category {
        color: $buttoncolor;
      }
    }
    .research-category {
      color: $blue;
      margin-top: 1.5em;
      line-height: 1em;
      @media screen and (min-width:991px) {
        font-size: 1.25em;
      }
    }
    .title {
      font-size: 1.5em;
      padding-top: 1em;
      line-height: 1.3em;
      font-weight: 900;
      margin-bottom: 0.78787878787879em;
      min-height: 5.75em;
    }
  }
  .more-link {
    text-align: center;
    a {
      @media screen and (min-width:991px) {
        margin-top: 2em;
      }
    }
  }
}
.block-filternews,
.block-filterevents {
  .content {
    .view-content {
      .row {
        .col-md-3 {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        .views-field-field-research-category {
          font-size: 0.85714286em;
          line-height: 1.3em;
          color: $blue;
          margin-top: 10px;
          margin-bottom: 0.3em;
        }
        .views-field-title {
          a {
            line-height: 1.36842105em;
            font-weight: 900;
            color: #000;
            margin-bottom: 1.36842105263158em;
          }
        }
        .views-field-field-date {
          time {
            font-size: 0.85714286em;
            line-height: 1.3em;
            color: $buttoncolor;
            margin-top: 10px;
            margin-bottom: 0.3em;
          }
        }
        .views-field-view-node {
          a {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.3em;
            color: $blue;
          }
        }
      }
    }
  }
}
.block-filternews,
.block-filterevents,
.block-media-news {
  .content {
    padding: 0 0.938em;
    .view-filters {
      display: none;
    }
    .view-content {
      @media screen and (min-width:991px) {
        display: flex;
        justify-content: space-between;
      }
      .views-row {
        display: flex;
        box-shadow: 0 1px 5px #ccc;
        margin-bottom: 1.813em;
        flex: 0 0 100%;
        @media screen and (min-width:991px) {
          flex: 0 0 49%;
          margin-bottom: 1.4em;
        }
        .views-field {
          position: relative;
          flex: 0 50%;
          width: 50%;
        }
        .views-field-field-image,
        .views-field-field-events-image {
          .date {
            background: #3a41ae;
            position: absolute;
            top: 0;
            left: 10px;
            color: #fff;
            white-space: pre-wrap;
            width: 40px;
            text-align: center;
            line-height: 1em;
            padding: 15px 5px;
          }
        }
        .views-field-nothing {
          padding: 0.938em;
          flex: 0 0 50%;
          @media screen and (min-width:991px) {
            padding: 1.5em 2em;
          }
          .location {
            color: #989898;
            text-transform: uppercase;
            font-size: .8em;
            line-height: 1.5em;
            margin-bottom: .5em;
          }
          .date {
            color: #6F7375;
            font-size: .8em;
            @media screen and (min-width:991px) {
              font-size: 1em;
              margin-bottom: .5em;
              line-height: 1.3em;
            }
          }
          .title {
            font-size: 1em;
            line-height: 1.125em;
            @media screen and (min-width:991px) {
              font-size: 1.5em;
              min-height: 190px;
            }
            a {
              color: #111;
            }
          }
          .link {
            @media screen and (min-width:991px) {
              margin-top: .5em;
            }
            a {
              font-size: .8em;
              @media screen and (min-width:991px) {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}
.block-filterevents {
  .content {
    .view-content {
      .views-row {
        .views-field-nothing {
          .title {
            @media screen and (min-width:991px) {
              min-height: auto;
              margin-bottom: .35em;
            }
          }
        }
      }
    }
  }
}
.block-moreevents {
  .js-pager__items {
    margin-bottom: 6em;
  }
}
.node__content {
  .field--name-field-content {
    .container {
      .field--name-field-pcontent {
        padding: 0;
      }
    }
  }
}
/** paragraph sections **/
.paragraph {
  .field__item {
    img {
      @media screen and (max-width:991px) {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .field--name-field-header-text {
    font-size: 1.85em;
    line-height: 1.3em;
    font-weight: 900;
    margin-bottom: 0.833em;
    @media screen and (min-width:991px) {
      font-size: 2.5em;
      margin-bottom: 0.78787878787879em;
    }
    &::before {
      content: " ";
      position: relative;
      display: block;
      width: 70px;
      height: 33px;
      border-bottom: 4px solid $blue;
    }
  }
  .field--name-field-content {
    .container {
      padding: 0;
    }
    h3 {
      color: $buttoncolor;
      font-size: 18pt;
      font-weight: 900;
      margin-bottom: .75em;
    }
    p {
      font-weight: 600;
      line-height: 1.5em;
      font-size: 1.23em;
      margin-bottom: 1em;
      @media screen and (min-width:991px) {
        font-size: 1.35714286em;
        line-height: 1.68421053em;
        margin-bottom: 1.36842105263158em;
      }
    }
    .blue {
      color: $buttoncolor;
    }
    ul {
      font-size: 1.23em !important;
      @media screen and (min-width:991px) {
        font-size: 1.35714286em !important;
      }
    }
  }
  .field--name-field-column {
    margin-top: 1.25em;
    ul {
      font-size: 1.23em !important;
      @media screen and (min-width:991px) {
        font-size: 1.35714286em !important;
      }
    }
  }
  .field--name-field-pcontent {
    padding: 0 1.15em;
    .container {
      padding: 0;
    }
  }
  .field--name-field-column {
    @media screen and (min-width:991px) {
      display: flex;
    }
    .field__item {
      padding: 0 0.938em;
      @media screen and (min-width:991px) {
        flex: 0 50%;
      }
      img {
        width: 28.1%;
        height: auto;
      }
      h1 {
        color: #37A9E0;
        font-size: 18pt;
        font-weight: 600;
        margin-bottom: 0;
      }
      h4 {
        color: $buttoncolor;
        font-size: 24pt;
        font-weight: 900;
        margin-bottom: 0;
      }
      p {
        font-weight: 600;
        font-size: 1.35714286em;
        line-height: 1.68421053em;
        margin-bottom: 1.36842105263158em;
      }
    }
  }
  .field--name-field-3column {
    @media screen and (min-width:991px) {
      display: flex;
    }
    .field__item {
      padding: 1.25em 0;
      @media screen and (min-width:991px) {
        flex: 0 33.33333%;
        padding: 0 15px;
      }
      .number {
        line-height: 1em;
        margin: 0;
        font-size: 3rem;
        color: #37a9e0;
        font-weight: 900;
      }
      h3 {
        color: $buttoncolor;
        font-size: 18pt;
        font-weight: 900;
        margin-bottom: 0;
      }
      h5 {
        color: #000;
        font-weight: 600;
        margin-top: 1em;
      }
      h6 {
        color: $buttoncolor;
        font-size: 12pt;
        font-weight: 900;
      }
      p {
        font-weight: 600;
        font-size: 1.35714286em;
        line-height: 1.68421053em;
        margin-bottom: 1.36842105263158em;
      }
    }
  }
}
.paragraph--type--text-paragraph {
  &.mobile-background {
    @media screen and (min-width:991px) {
      padding-top: 4em;
    }
  }
  .field--name-field-content {
    margin-bottom: 2.325em;
    h2 {
      color: black;
      font-size: 1.5em;
      margin-bottom: 3.05em;
      @media screen and (min-width:991px) {
        font-size: 3.125em;
        margin-bottom: 0.8em;
      }
    }
    p {
      text-align: left;
      font-size: 1em;
      line-height: 1.35em;
      @media screen and (min-width:991px) {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
  .field--name-field-link {
    text-align: center;
    a {
      margin-top: 2.35em;
      max-width: 140px;
      height: 50px;
      font-size: 1em;
      font-weight: normal;
      padding: 0 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2.35em auto 0;
      @media screen and (min-width:991px) {
        margin-top: 0;
        margin-bottom: 2.35em;
      }
    }
  }
}
.paragraph--type--resources {
  h2 {
    &:before {
      display: none;
    }
  }
  .field--name-field-header-text {
    &:before {
      display: none;
    }
  }
}
/** eof paragraph sections **/

/** region **/
.region-breadcrumb {
  padding: 0;
  .breadcrumb {
    padding: 0;
    background: none;
    margin: 2rem 0 .5rem;
    display: flex;
    align-items: center;
    li {
      a {
        font-size: 0.9em;
        line-height: 1em;
        @media screen and (min-width:991px) {
          font-size: 1.25em;
        }
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }
}
.featured-bottom {
  .container-fluid {
    padding: 0;
  }
}
/** eof region **/

.block-news {
  .view-filters {
    display: none;
  }
  .view-content {
    .views-field-field-image {
      margin-bottom: 1.1rem;
    }
  }
}
.path-frontpage {
  .block-news {
    .view-filters {
      fieldset {
        padding: 0;
        width: 100% !important;
        label {
          display: none;
        }
        input.form-text {
          background: url(../images/icon-search.svg) #fff 15px center no-repeat;
          background-size: 18px;
          border: 1px solid #EEE;
          border-radius: 5px;
          box-shadow: 0 5px 5px #ccc;
          padding-left: 3rem;
          font-size: 0.75em;
          margin: 0;
          height: 53px;
        }
      }
    }
  }
}
.block-research {
  .content {
    margin-left: -15px;
    margin-right: -15px;
    .view {
      .view-content {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        @media screen and (min-width:991px) {
          justify-content: space-evenly;
        }
        .views-row {
          flex: 0 50%;
          width: 50%;
          padding: 1em 0 1.75em;
          min-height: 184px;
          @media screen and (min-width:991px) {
            flex: 0 25%;
            width: 25%;
            padding: 0;
            margin-top: 1em;
            margin-bottom: 1em;
          }
          @media screen and (max-width:991px) {
            &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7) {
              background: #F5F5FB;
            }
          }
        }
        .views-field-field-icon {
          text-align: center;
          @media screen and (max-width:991px) {
            img {
              width: 80%;
              height: auto;
            }
          }
        }
        .views-field-field-video-icon {
          text-align: center;
          display: none;
          overflow: hidden;
          @media screen and (min-width:991px) {
            height: 149px;
          }
          video {
            max-width: 147px;
            width: 75%;
            height: auto;
            @media screen and (min-width:991px) {
              width: 147px;
              height: 147px;
            }
          }
        }
        .views-field-name {
          text-align: center;
          padding: 0 1em;
          @media screen and (min-width:991px) {
            padding: 0 2.5em;
            margin: 10px 0;
          }
          a {
            color: black;
            line-height: 1.3em;
            display: block;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &.bottompadding {
    padding-bottom: 0;
  }
}
.block-latest-article {
  .view-content {
    .row {
      .col-md-4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .views-field-field-image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-research-category {
        font-size: 0.85714286em;
        line-height: 1.3em;
        color: $blue;
        margin-top: 10px;
        margin-bottom: 0.3em;
      }
      .views-field-title {
        a {
          line-height: 1.36842105em;
          font-weight: 900;
          color: #000;
          margin-bottom: 1.36842105263158em;
        }
      }
      .views-field-field-date {
        time {
          font-size: 0.85714286em;
          line-height: 1.3em;
          color: $buttoncolor;
          margin-top: 10px;
          margin-bottom: 0.3em;
        }
      }
      .views-field-view-node {
        a {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.3em;
          color: $blue;
        }
      }
    }
  }
  .more-link {
    text-align: center;
  }
}

.site-footer {
  padding: 3em 0;
}
.leftcolumn {
  .block-menu {
    padding: 0;
    h2 {
      color: white;
      font-size: 1.25em;
      padding: 0;
      margin-top: 2em;
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }
    ul.nav {
      li {
        display: block;
        width: 100%;
        line-height: 2.32142857em;
        padding: 0 15px;
        @media screen and (min-width:991px) {
          padding: 0;
        }
        a {
          color: white;
          padding: 0;
          &:hover {
            color: white;
            opacity: .7;
          }
        }
      }
    }
  }
}
.rightcolumn {
  position: static;
}
.region-footer-fifth {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1em;
}
#block-copyright {
  padding: 0;
  .type--fine-print {
    color: white;
    font-size: .75em;
    text-align: center;
    line-height: 1.3em;
    @media screen and (min-width:991px) {
      font-size: 0.85714286em;
      text-align: left;
    }
  }
}
.block-additionallinks {
  padding: 0;
  .content {
    .field--name-body {
      text-align: center !important;
      @media screen and (min-width:991px) {
        text-align: left;
      }
    }
    .type--fine-print {
      color: white;
      font-size: .75em;
      opacity: .7;
      @media screen and (min-width:991px) {
        font-size: 0.85714286em;
      }
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
      &:last-child {
        margin-left: 1.85714286em;
      }
    }
  }
}

.paragraph--type--_-column-text {
  padding-bottom: 3em;
}
.paragraph--type--link {
  .field--name-field-link {
    text-align: center;
    margin-bottom: 1.85714286em;
  }
}
.page-view-research-centre {
  #main-wrapper {
    padding: 0;
    #main {
      padding: 0;
      .block {
        padding: 0;
      }
      > .row {
        margin: 0;
        .main-content {
          padding: 0;
        }
      }
      .region-content {
        max-width: 100%;
        padding: 0;
        .view-research-centre {
          .view-content {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            .views-row {
              width: 100%;
              text-align: center;
              padding: 1.875em 0;
              cursor: pointer;
              position: relative;
              @media screen and (min-width:991px) {
                width: 50%;
                flex: 0 0 50%;
                padding: 15.3em 0;
                &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8) {
                  background: #FAF9FF;
                }
              }
              .views-field-field-icon {
                @media screen and (min-width:991px) {
                  margin-bottom: 1em;
                }
                img {
                  width: 56%;
                  height: auto;
                  max-width: 149px;
                  @media screen and (min-width:991px) {
                    width: 30.85%;
                  }
                }
              }
              .views-field-field-icon-caption {
                color: $buttoncolor;
                line-height: 1.2em;
                font-weight: 600;
                font-size: 1.438em;
                @media screen and (min-width:991px) {
                  font-size: 1.5em;
                  padding: 0 5em;
                }
              }
              .views-field-nothing {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $blue;
                display: none;
                font-size: .8em;
                line-height: 1em;
                padding: 0 .938em;
                @media screen and (min-width:991px) {
                  padding: 0 9em;
                }
                @media screen and (min-width:991px) {
                  padding: 0 9em;
                }
                .research-content-wrapper {
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: column;
                  height: 100%;
                  align-items: center;
                  text-align: justify;
                  justify-content: center;
                }
                .research-content {
                  color: white;
                  ul {
                    color: white;
                    margin-top: 1em;
                    display: none;
                  }
                  @media screen and (min-width:991px) {
                    font-size: 1.25em;
                    line-height: 1.5em;
                    ul {
                      font-size: 1em;
                      display: block;
                    }
                  }
                  p {
                    line-height: 1.3em;
                  }
                }
                .research-link {
                  text-align: center;
                  @media screen and (min-width:991px) {
                    padding: 2em 0;
                    font-size: 1.25em;
                  }
                  a {
                  color: white;
                    &:hover {
                      opacity: .7;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.page-node-10 {
  .paragraph--type--_-column-text {
    .field--name-field-column {
      .field__item {
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid #ececec;
        padding: 0;
        margin: 0 15px;
        img {
          width: 100%;
          height: auto;
        }
        h2 {
          color: black;
          padding: 1em 1em 0 1em;
        }
        p {
          padding: 0 1em 1em;
        }
      }
    }
  }
}
.paragraph--type--header-text-content-left-image,
.paragraph--type--header-text-content-right-image {
  padding: 3em 0;
  .field--name-field-header-text {
    color: black;
    font-size: 40px;
    line-height: 1.3em;
    font-weight: 900;
    margin-bottom: 0.78787878787879em;
    &::before {
      content: " ";
      position: relative;
      display: block;
      width: 70px;
      height: 33px;
      border-bottom: 4px solid $blue;
    }
  }
  .field--name-field-content {
    h3 {
      color: $buttoncolor;
      font-size: 18pt;
      font-weight: 900;
      margin-bottom: .75em;
    }
    p {
      font-weight: 600;
      font-size: 1.35714286em;
      line-height: 1.68421053em;
      margin-bottom: 1.36842105263158em;
    }
    .blue {
      color: $buttoncolor;
    }
  }
  .field--name-field-media-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.region-footerrightcolumn {
  flex-direction: column;
  .block {
    .content {
      p {
        color: white;
      }
    }
  }
}
.block-footer-logo {
  .content {
    .field--name-body {
      img {
        width: 49%;
        max-width: 124px;
        @media screen and (min-width:991px) {
          max-width: 134px;
          width: 134px;
          height: auto;
        }
      }
    }
  }
}
.site-footer {
  position: relative;
}
.block-followus {
  padding-bottom: 1em;
  @media screen and (max-width:991px) {
    position: absolute;
    top: 3em;
    right: 15px;
  }
  .content {
    h4 {
      font-size: 1.5rem;
      font-weight: 900;
      color: white;
      display: none;
      @media screen and (min-width:991px) {
        display: block;
      }
    }
  }
}
.block-simplenews {
  margin-top: 2em;
  @media screen and (min-width:991px) {
    margin-top: 0;
  }
  .content {
    .form-item-message {
      color: white;
      font-weight: 900;
      font-size: 1.25em;
      @media screen and (min-width:991px) {
        width: 50%;
      }
    }
    .layout {
      @media screen and (min-width:991px) {
        display: inline-block;
        width: 65%;
      }
    }
    .form-group {
      label {
        display: none;
      }
      input {
        height: 40px;
        line-height: 1em;
      }
      .description {
        display: none;
      }
    }
    .form-actions {
      width: 50%;
      margin: 0 auto;
      @media screen and (min-width:991px) {
        display: inline-block;
        width: 33%;
        position: relative;
        top: -1px;
      }
      input {
        height: 40px;
        background: white;
        border-color: $buttoncolor;
        text-transform: uppercase;
        color: $buttoncolor;
        border: none;
        padding: 0;
        letter-spacing: -.05em;
      }
    }
  }
}
.block-address {
  @media screen and (max-width:991px) {
    margin-top: 2em;
  }
  .content {
    p {
      @media screen and (max-width:991px) {
        line-height: 1.4em;
      }
    }
  }
}
#edit-flexboxleft {
  align-items: center;
  .webform-flex--1 {
    flex: 0 40%;
    .webform-flex--1 {
      flex: 0 100%;
      #edit-processed-text {
        h2 {
          color: black;
          font-size: 1.85em;
          line-height: 1.3em;
          font-weight: 900;
          margin-bottom: 1em;
          @media screen and (min-width:991px) {
            font-size: 2.5em;
            padding: 0;
            margin-bottom: 3.78787878787879em;
          }
          &::before {
            content: " ";
            position: relative;
            display: block;
            width: 70px;
            height: 4px;
            border-bottom: 4px solid $blue;
          }
        }
        p {
          font-weight: 600;
          font-size: 1.35714286em;
          line-height: 1.68421053em;
          margin-bottom: 1.36842105263158em;
          padding: 0.8em;
          @media screen and (min-width:991px) {
            padding: 0;
          }
        }
      }
    }
  }
  .webform-flex--2 {
    @media screen and (max-width:991px) {
      padding: 0.938em;
    }
  }
}
#edit-flexboxright {
  flex-direction: column;
  .form-text, .form-email, select {
    height: 40px;
    background: #EAEAF4;
    border: none;
  }
  textarea {
    background: #EAEAF4;
    border:none;
  }
  .select2-container--default .select2-selection--single {
    height: 40px;
    background: #EAEAF4;
    border: none;
    .select2-selection__rendered {
      line-height: 38px;
    }
    .select2-selection__arrow {
      height: 40px;
    }
  }
  .form-actions {
    text-align: right;
    input {
      text-align: center;
      margin: 2em 0;
      display: inline-block;
      @media screen and (min-width:991px) {
        width: 28%;
      }
    }
  }
}
.block-publications {
  .content {
    .view-content {
      .views-field-nothing {
        background: white;
        border: 1px solid #ececec !important;
      }
      .category-9 {
        .views-field-nothing {
          border-left: 4px solid #492d9f !important;
        }
      }
      .category-10 {
        .views-field-nothing {
          border-left: 4px solid #29abe2 !important;
        }
      }
      .category-11 {
        .views-field-nothing {
          border-left: 4px solid #2d839f !important;
        }
      }
      .category-12 {
        .views-field-nothing {
          border-left: 4px solid #f7931d !important;
        }
      }
      .category-14 {
        .views-field-nothing {
          border-left: 4px solid #1b1464 !important;
        }
      }
    }
  }
  .share {
    position: absolute;
    top: 50%;
    right: 3%;
  }
}
.page-node-12 {
  .block-publications {
    display: none;
    @media screen and (min-width:991px) {
      display: block;
    }
    .share {
      top: 40%;
    }
    .view-content {
      @media screen and (min-width:991px) {
        padding: 0;
      }
      .views-infinite-scroll-content-wrapper {
        width: 100%;
        .views-row {
          margin-bottom: 2em;
        }
      }
      .views-field-nothing {
        box-shadow: 0 1px 5px #ccc;
        padding: 1.688em;
        .category {
          display: flex;
          align-items: center;
          font-size: 1.25em;
          .icon {
            text-transform: uppercase;
            img {
              margin-right: 1em;
            }
          }
          .pub-date {
            color: #6F7375;
            margin: 0 4em;
          }
          .research-category {
            color: $blue;
          }
        }
        .title {
          font-size: 2em;
          font-weight: 900;
          margin: 1em 0;
          padding-right: 10em;
          line-height: 1.3em;
        }
        .field--name-field-content {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
    .js-pager__items {
      margin-bottom: 6em;
    }
  }
  .block-sticky-publications {
    @media screen and (min-width:991px) {
      padding-top: 3em;
      padding-bottom: 3em;
    }
    .view-filters {
      .form-item-researchcentre {
        flex: 0 0 15%;
      }
      .form-item-keyword {
        flex: 0 0 48.7%;
      }
    }
    .view-content {
      @media screen and (min-width:991px) {
        padding: 4em 0 0;
      }
      .views-infinite-scroll-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
.page-node-13,
.page-node-39 {
  .block-media-news,
  .block-filterevents {
    padding-left: 0;
    padding-right: 0;
    .views-field-field-events-image {
      img {
        margin: 0;
      }
    }
  }
  .block-media-news {
    margin-top: 1.25em;
  }
  .block-moreevents {
    h2 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.node--type-team {
  .region-content {
    article {
      text-align: center;
      .field--type-image {
        float: none;
        margin: 0;
        text-align: center;
        img {
          margin: 0;
          border-radius: 150px;
        }
      }
      .field--type-datetime {
        text-align: center;
        padding: 1.5em 0;
        font-size: 18px;
      }
      .field--name-body {
        font-size: 18px;
        padding: 0 3em;
        margin: 5em auto 8em;
        max-width: 800px;
      }
      .field--name-field-name {
        h5 {
          color: #000;
          font-size: 16px;
          margin-top: 1em;
        }
      }
      .field--name-field-role {
        h6 {
          font-size: 12pt;
          font-weight: 900;
          line-height: 1.3em;
        }
      }
    }
  }
}
.node--type-article {
  #main-wrapper .block-page-title-block h1 {
    text-align: left;
    color: #000;
    font-size: 1.5em;
    padding: 0.625em;
  }
  .region-content {
    article {
      padding: 0 0.938em;
      .field--type-image {
        float: none;
        margin: 0;
        img {
          margin: 0;
          width: 100%;
          height: auto;
        }
      }
      .field--type-datetime {
        display: inline-block;
        text-align: center;
        font-size: 1em;
        color: #6F7375;
        margin-right: 1.5em;
      }
      .field--name-field-domain-access {
        display: inline-block;
        color: #912971;
        font-size: 20px;
        .field__item {
          display: inline-block;
          margin-right: .75em;
        }
      }
      .field--name-body {
        font-size: 1.25em;
        padding: 0 1.5em;
        text-align: center;
        margin: 1em auto 2em;
        @media screen and (min-width:991px) {
          margin: 5em auto 8em;
        }
      }
      .field--name-field-name {
        h5 {
          color: #000;
          font-size: 16px;
          margin-top: 1em;
        }
      }
      .field--name-field-role {
        h6 {
          font-size: 12pt;
          font-weight: 900;
          line-height: 1.3em;
        }
      }
    }
  }
}
.contact-form-btn {
  img {
    width: 48px;
    height: 48px;
  }
}
.block-contactus {
  position: fixed;
  right: 0;
  top: 110px;
  height: 83.5vh;
  overflow-y: scroll;
  background: #fff;
  box-shadow: 0 1px 5px #ccc;
  z-index: 101;
  border-radius: 4px;
  padding: 3em 3em 0;
  display: none;
  .close-btn {
    position: absolute;
    right: 0;
    padding-right: 4em;
    top: 3.25em;
    cursor: pointer;
    i {
      color: #ced4da;
    }
  }
  h2 {
    font-size: 20px;
    padding: 5px;
    &::before {
      display: none;
    }
  }
  #edit-flexboxleft > .webform-flex--1 {
    display: none;
  }
  #edit-flexboxright .form-actions input {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 2em 0;
    padding: 0 2em;
  }
}
.user-logged-in {
  .block-contactus {
    top: 189px;
  }
}
.social-share {
  position: relative;
  top: 0;
  a {
    cursor: pointer;
  }
  img {
    margin: 1em 0;
    width: 38px;
  }
  .btn-item {
    position: relative;
    .social-wrapper {
      display: none;
    }
    .socialbar {
      display: flex;
      position: absolute;
      top: .6em;
      left: 0;
      flex-direction: row;
      align-items: center;
      background: $blue;
      padding: 0 1.35em 0 1em;
      border-radius: 12px;
      a {
        font-size: 1.5em;
        margin-left: .5em;
        color: #fff;
        &:first-child {
          margin-left: 0;
        }
        img {
          margin: .25em 0;
        }
      }
    }
  }
}
.barlayout {
  .view-content {
    padding: 0 15px;
    .views-infinite-scroll-content-wrapper {
      width: 100%;
    }
    .views-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 1px solid #ececec;
      border-radius: 6px;
      box-shadow: 0 1px 5px #ccc;
      margin: 2em 0;
      position: relative;
      .views-field:first-child {
        flex: 0 0 35%;
        @media screen and (min-width:991px) {
          flex: 0 0 25%;
        }
        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
        .date {
          display: none;
        }
      }
      .views-field-nothing {
        flex: 0 0 65%;
        padding: .78571429em;
        @media screen and (min-width:991px) {
          flex: 0 0 75%;
          padding: 2.78571429em;
        }
        .date, .header-bar {
          font-weight: bold;
          color: $blue;
          span {
            display: inline-block;
            margin-right: 4em;
            color: #a69dce;
            font-weight: 900;
          }
        }
        .header-bar {
          span {
            color: #8e236d;
          }
        }
        .title {
          font-size: 1em;
          font-weight: 700;
          padding-right: 2em;
          @media screen and (min-width:991px) {
            font-size: 1.63em;
          }
        }
        .link {
          a {
            font-weight: 700;
          }
        }
        .share {
          position: absolute;
          top: 40%;
          right: 3%;
        }
      }
    }
  }
}
.block {
  .js-pager__items {
    list-style: none;
    .pager__item {
      text-align: center;
      a {
        letter-spacing: -.05rem;
        display: block;
        font-size: 1.25em;
        padding-bottom: 1em;
        background: url(../images/icon-arrow-down.svg) center bottom no-repeat;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.ui-dialog,
.webform-confirmation-modal {
  .ui-dialog-titlebar {
    border: none;
    background: none;
    .ui-dialog-titlebar-close {
      border: none !important;
      border-color: transparent !important;
      background: url(../images/times-solid.svg) no-repeat;
      .ui-button-icon {
        display: none !important;
      }
    }
  }
  .ui-dialog-content,
  .webform-confirmation-modal--content {
    padding-bottom: 3em;
    font-size: 20px;
    text-align: center;
    h2 {
      color: $blue;
      font-size: 35px;
      margin: 0 0 .5em;
    }
  }
  .ui-dialog-buttonpane {
    button {
      color: white;
      border-radius: 6px;
      .ui-button-icon {
        display: none !important;
      }
    }
  }
}
.region-featured-bottom-second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3em 0;
  .block {
    @media screen and (min-width:991px) {
      flex: 0 0 48%;
    }
    .view-content {
      @media screen and (max-width:991px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .views-row {
          flex: 0 0 48%;
        }
      }
      .views-field-field-gallery-image,
      .views-field-field-video-gallery {
        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
      }
      .views-field-field-video-gallery {
        article {
          > div {
            &:last-child {
              display: none;
            }
            &.js-media-library-item-preview {
              display: block;
            }
          }
        }
      }
      .views-field-field-domain-access {
        color: $blue;
      }
      .views-field-title {
        display: none;
        a {
          color: #000;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    .more-link {
      text-align: center;
      margin-top: .5em;
      margin-bottom: 1.5em;
      a {
        background: none;
        border: none;
        color: $blue;
        height: auto;
        line-height: 1em;
        text-transform: capitalize;
      }
    }
  }
  .block-multimedia {
    flex: 0 0 100%;
    flex-direction: column;
  }
  .block-image-gallery,
  .block-video-gallery {
    h2 {
      &:before {
        display: none;
      }
    }
  }
}
.block-mediakit {
  margin: 0 -15px;
  h2 {
    color: white;
    text-align: center;
    &:before {
      border-bottom: 4px solid white;
      margin: 0 auto;
    }
  }
  .content {
    div[class^=col-] {
      text-align: center;
      margin: 1.25em 0;
      img {
        width: 46%;
        height: auto;
        @media screen and (min-width:991px) {
          width: 100%;
          max-width: 155px;
        }
      }
      h2 {
        color: white;
        font-size: 1.125em;
      }
      .btn {
        background: white;
        color: $blue;
        font-weight: 900;
        border: none;
        height: 40px;
        line-height: 1.5em;
      }
    }
  }
}
.block-mediagal,
.block-videogal {
  .view-content {
    margin: 0;
    .views-infinite-scroll-content-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .views-row {
        flex: 0 0 33.3333%;
        .views-field-field-domain-access {
          color: $blue;
          font-size: 20px;
          margin: 1rem 0;
        }
        .views-field-title {
          font-size: 24px;
          font-weight: 900;
        }
      }
    }
  }
}
.page-node-39 {
  .region-featured-bottom-first {
    background: none;
    border: none;
  }
}
.node--type-media-kit {
  .node__content {
    h2 {
      @media screen and (min-width:991px) {
        padding: 0;
      }
    }
  }
}
.site-footer__bottom {
  margin-top: 2.5em;
}
.mediakit-layout {
  > .field--name-field-pcontent {
    display: flex;
    flex-wrap: wrap;
    > .field__item {
      width: 20%;
      flex: 0 0 25%;
      margin-right: 5%;
      flex-basis: 20%;
      justify-content: center;
      text-align: center;
      .field--name-field-thumbnail {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .field--type-image {
        text-align: center;
        float: none;
        margin: 0;
        img {
          width: 50%;
          height: auto;
          min-width: 100px;
        }
      }
      h2 {
        color: #000;
        font-size: 32px;
        line-height: 1em;
        font-weight: normal;
        min-height: 96px;
        span {
          display: block;
          font-size: 16px;
          font-weight: 900;
          color: $blue;
        }
      }
      .field--name-field-resource-upload {
        .file {
          background: url(../images/icon-download.svg) 90% center no-repeat;
          padding: 0 2.55em 0 1em;
          text-transform: uppercase;
          font-size: 16px;
          border: 1px solid $blue;
          border-radius: 4px;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}
.block-mapinfo {
  .field--name-body {
    img {
      width: 35px;
      height: auto;
    }
  }
}
#cboxWrapper {
  background: none !important;
}
.block-searchblock {
  margin-top: -26px;
  .content {
    .form-item-keyword {
      width: 100%;
      input {
        background: url(../images/icon-search.svg) #fff 15px center no-repeat;
        -webkit-background-size: 18px 18px;
        background-size: 18px;
        border: 1px solid #EEE;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 5px #ccc;
        box-shadow: 0 5px 5px #ccc;
        padding-left: 3rem;
        font-size: 0.75em;
        margin: 0;
        height: 53px;
        color: $blue;
        font-weight: bold;
        &::placeholder {
          color: $blue;
          font-weight: bold;
        }
      }
    }
    .fieldgroup {
      display: none;
    }
    .form-actions {
      display: none;
    }
  }
}
.ui-dialog-title {
  visibility: hidden;
}
.ui-dialog .ui-dialog-buttonpane {
  border: none;
}
.ui-dialog {
  @media screen and (max-width:991px) {
    width: 300px !important;
    left: 50% !important;
    margin-left: -150px;
  }
}
.webform-submission-events-registration-form {
  .webform-element--title-inline {
    text-align: left;
    label {
      font-size: .75em;
      padding: 0;
      @media screen and (min-width:991px) {
        font-size: 1em;
      }
    }
    input {
      display: inline-block;
      width: 80%;
      border: none;
      background: none;
      font-size: .75em;
      color: #000;
      font-weight: bold;
      padding: 0;
      @media screen and (min-width:991px) {
        font-size: 1em;
      }
    }
  }
  .columnwrapper {
    .webform-section-title {
      display: none;
    }
    .webform-section-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      fieldset {
        margin-bottom: 1.25em;
      }
      label, legend {
        font-weight: normal;
        font-size: .75em;
        line-height: 1em;
        margin: 0;
        @media screen and (min-width:991px) {
          font-size: 1em;
        }
      }
      input, select, textarea {
        margin: 0;
        height: 45px;
        background: #F9F9F9;
        border: none;
        border-radius: 0;
      }
      textarea {
        min-height: 250px;
      }
      .leftcolumn {
        flex-direction: column;
        text-align: left;
        @media screen and (min-width:991px) {
          flex: 0 0 50%;
        }
      }
      .rightcolumn {
        flex-direction: column;
        text-align: left;
        @media screen and (min-width:991px) {
          flex: 0 0 50%;
        }
      }
    }
  }
}
