
    a.menu-icon-22,
    ul.links li.menu-icon-22 a,
    ul.menu li.menu-icon-22 a {
        background-image: url(/sites/default/files/menu_icons/icon-search.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-22,
    ul.links li.menu-icon-22 a,
    ul.menu li.menu-icon-22 a {
        background-image: url(/sites/default/files/menu_icons/icon-search.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-66,
    ul.links li.menu-icon-66 a,
    ul.menu li.menu-icon-66 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_0.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-66,
    ul.links li.menu-icon-66 a,
    ul.menu li.menu-icon-66 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_0.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-67,
    ul.links li.menu-icon-67 a,
    ul.menu li.menu-icon-67 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_2.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-67,
    ul.links li.menu-icon-67 a,
    ul.menu li.menu-icon-67 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_2.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-68,
    ul.links li.menu-icon-68 a,
    ul.menu li.menu-icon-68 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_3.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-68,
    ul.links li.menu-icon-68 a,
    ul.menu li.menu-icon-68 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_3.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-70,
    ul.links li.menu-icon-70 a,
    ul.menu li.menu-icon-70 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_5.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-70,
    ul.links li.menu-icon-70 a,
    ul.menu li.menu-icon-70 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_5.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-71,
    ul.links li.menu-icon-71 a,
    ul.menu li.menu-icon-71 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_6.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-71,
    ul.links li.menu-icon-71 a,
    ul.menu li.menu-icon-71 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_6.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-72,
    ul.links li.menu-icon-72 a,
    ul.menu li.menu-icon-72 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_1.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-72,
    ul.links li.menu-icon-72 a,
    ul.menu li.menu-icon-72 a {
        background-image: url(/sites/default/files/menu_icons/icon-search_1.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
