<div{{ attributes }} class="header-img" id="header-img" style="background-image:url({{ file_url(content.field_media_image.0['#item'].entity.uri.value) }});">
  {{ title_suffix.contextual_links }}
</div>
